

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="Accountinfo.css">
  </head>
  <body>
    
    <header>
      <nav>
        <a href="#home" id="logo"> <img src="logo.png"></a>
        

        <i class="fas fa-bars" id="ham-menu"></i>
        <ul id="nav-bar">
           
          <li>
            <a href="#home">HOME</a>
          </li>
          <li>
            <a href="#aboutus">ABOUT US</a>
          </li>
          <li>
            <a href="collection">COLLECTION</a>
            <div class="sub-menu-1">
               <ul>
                <li><a href="couch">SOFAS</a></li>
                  <li><a href="armchairs">ARMCHAIRS</a></li>
                  <li><a href="table">TABLES</a></li>
                  <li><a href="chairs">CHAIRS</a></li>
                  <li><a href="bed">BEDS</a></li>
               
                  
  
              </ul>
              </div> 
          </li>
          <li>
            <a href="#decor">DECOR</a>
             <div class="sub-menu-1">
              <ul>
                  <li><a href="rug">RUGS</a></li>
                  <li><a href="#">CUSHIONS</a></li>
                  <li><a href="mirror">Mirrors</a></li>
              </ul>
              </div> 
          </li>
          <li>
            <a href="#contact">CONTACT</a>
          </li>

        <li>  <button class="btn-my-search" onclick="document.getElementById('id01').style.display='flex'"style="width:auto;"><i class="fas fa-search"></i></button>
        </li>
           <li>
            <button class="btn-Shopping-Cart"><i class="fas fa-shopping-cart"></i> </button>
           </li>
           <li> <a href="/myAccount" class="btn-my-account"> <i class="fas fa-user"></i> </a> </li>

              <% if (alertMessage) { %>    
                  <li id="alert"> <%= alertMessage %>  </li>
                  <% } %>  
        </ul>
      </nav>
    </header>
    <div class=" OrderHis">

      <form>
      
      <a>Account information</a>
     <div class="detailsHistory">
      <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
        
        <div class="row">
        
        
          <div class="col-md-6" id="changePassword">
            <div class="form-group">
              <p>Username: <%= user.name %></p>
              <p>Password: <%= user.password %></p>
            </div>
          </div>
          </form>
        </div>
      </div>
        
        
      <p><a  class="btn-primary" href="/myAccount">Go Back</a></p>
        
    </div> 
    </div>
     </div>
    <section id="home">
      
      <div class=" col-lg-3 sidebar">


        <% if (loggedIn) { %>
          <a> <p>  Welcome  <%= user.name %>!</p></a>
         <!--<p><a href="/orderHistory">Order History</a></p>יותם אתה צריך לממש את ההיסטוריה הזו  -->
         <a href="OrederHistory">Order history</a>
         <a class="active" id="OrderH" href="/accountInformation">Account information</a>
         <p><a href="/changePassword">Change Password</a></p>
          <!-- <p><a  href="/changePassword">Change Password</a></p> -->
        <% } else { %>
          <p>Please <a href="/login">login</a> to access your account.</p>
        <% } %>
   
         

       
          <div class="detailsHistory1"> 

            <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
        
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <p>Username: <%= user.name %></p>
                    
                  </div>
                </div>
                <div class="col-md-6" id="changePassword">
                  <div class="form-group">
                    <p>Password: <%= user.password %></p>
                    
                  </div>
                </div>
              
            <p><a  class="btn-primary" href="/myAccount">Go Back</a></p>
              
          </div> 
          </div>    
          </div>
       
      
        <% if (loggedIn) { %>
          <a id="logoutButton">Logout</a>
      <% } else { %>
        <a href="/login"> SIGN IN</a>
        <a href="/signup"> Sign Up</a>
          
      <% } %>
  
    </div>
    
      <script>
        document.getElementById('logoutButton').addEventListener('click', function() {
            // Send a POST request to the logout route
            fetch('/logout', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server
                if (data.success) {
                    // Successful logout
                    window.location.href = '/'; // Redirect to home page
                } else {
                    // Logout failed
                    console.log(data.message);
                }
            })
            .catch(error => {
                // Handle any errors that occur during the request
                console.log('An error occurred:', error);
            });
        });
    </script>
  
     
    </section>
    
       
<div id="id01" class="modal">
 
    <div class="modal-content" action="">
      <div class="container">
          <div class="clearfix">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">X</button>
             
        <h1>Search</h1>
        <hr>
        
        <input type="text" placeholder="Tap to search" name="email" required>
        <br>
        
        <label for="email"><b>Filter</b></label>
        <br>
        <div class="label-search">
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> SOFAS
        </label>
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> ARMCHAIRS
        </label>
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> TABLES
        </label>
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> CHAIRS
        </label>
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> BEDS
        </label>
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> ACCESSORY
        </label>
      </div>
        <div class="price-input">
          <div class="field">
            <span>Min</span>
            <input type="number" class="input-min" value="2500">
          </div>
          <div class="separator">-</div>
          <div class="field">
            <span>Max</span>
            <input type="number" class="input-max" value="7500">
          </div>
        </div>
        <div class="slider">
          <div class="progress"></div>
        </div>
        <div class="range-input">
          <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
          <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
  
          <button type="submit" class="signupbtn">Search</button>
        </div>
      </div>
     
      </div>
    
    </div>
            </div>
    
    </form>
  
  
  
  

     <!-- Script -->
     <script> let hamMenuIcon = document.getElementById("ham-menu");
        let navBar = document.getElementById("nav-bar");
        let navLinks = navBar.querySelectorAll("li");
        
        hamMenuIcon.addEventListener("click", () => {
          navBar.classList.toggle("active");
          hamMenuIcon.classList.toggle("fa-times");
        });
        navLinks.forEach((navLinks) => {
          navLinks.addEventListener("click", () => {
            navBar.classList.remove("active");
            hamMenuIcon.classList.toggle("fa-times");
          });
        });</script>
        
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  
  </script>
  <script>const rangeInput = document.querySelectorAll(".range-input input"),
    priceInput = document.querySelectorAll(".price-input input"),
    range = document.querySelector(".slider .progress");
  let priceGap = 1000;
  
  priceInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minPrice = parseInt(priceInput[0].value),
        maxPrice = parseInt(priceInput[1].value);
  
      if (maxPrice - minPrice >= priceGap && maxPrice <= rangeInput[1].max) {
        if (e.target.className === "input-min") {
          rangeInput[0].value = minPrice;
          range.style.left = (minPrice / rangeInput[0].max) * 100 + "%";
        } else {
          rangeInput[1].value = maxPrice;
          range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
        }
      }
    });
  });
  
  rangeInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minVal = parseInt(rangeInput[0].value),
        maxVal = parseInt(rangeInput[1].value);
  
      if (maxVal - minVal < priceGap) {
        if (e.target.className === "range-min") {
          rangeInput[0].value = maxVal - priceGap;
        } else {
          rangeInput[1].value = minVal + priceGap;
        }
      } else {
        priceInput[0].value = minVal;
        priceInput[1].value = maxVal;
        range.style.left = (minVal / rangeInput[0].max) * 100 + "%";
        range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
      }
    });
  });
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
  </html>
  
  
  </body>
</html>