

 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="chairs.css">
  </head>
  <body>
    
    <header>
      <nav>
        <a href="#home" id="logo"> <img src="logo.png"></a>
        <div class="title-items"><a></a> Our Chairs</a></div>

        <i class="fas fa-bars" id="ham-menu"></i>
        <ul id="nav-bar">
           
          <li>
            <a href="#home">HOME</a>
          </li>
          <li>
            <a href="#aboutus">ABOUT US</a>
          </li>
          <li>
            <a href="#collection">COLLECTION</a>
            <div class="sub-menu-1">
              <ul>
                <li><a href="couch">COUCHS</a></li>
                <li><a href="armchairs">ARMCHAIRS</a></li>
                <li><a href="table">TABLES</a></li>
                <li><a href="chairs">CHAIRS</a></li>
                <li><a href="bed">BEDS</a></li>
             
                

            </ul>
            </div> 
        </li>
        <li>
          <a href="#decor">DECOR</a>
           <div class="sub-menu-1">
            <ul>
                <li><a href="rug">RUGS</a></li>
                <li><a href="cushions">CUSHIONS</a></li>
                <li><a href="mirror">MIRRORS</a></li>
            </ul>
              </div> 
          </li>
          <li>
            <a href="#contact">CONTACT</a>
          </li>

        <li>  <button class="btn-my-search" onclick="document.getElementById('id01').style.display='flex'"style="width:auto;"><i class="fas fa-search"></i></button>
        </li>
           <li>
            <button class="btn-Shopping-Cart"><i class="fas fa-shopping-cart"></i> </button>
           </li>
           <li> <a href="/myAccount" class="btn-my-account"> <i class="fas fa-user"></i> </a> </li>


             
        </ul>
      </nav>
    </header>
    <section id="home">
     
      <div class="cards-items">
        <% details.forEach(function(item){ %>
          <form action="/addCart" method="post">
         <div class="detailsItems">
          <a class="category"><%= item.category%></a>
          <a class="pic"><img src="<%= item.pic%>" alt="Product Image"></a>
          <br>  <a>Name: <%= item.name%></a>
          <a>Color: <%= item.color%></a>
          <a>Matterial: <%= item.matter%></a>
           <a>Price: <%= item.price%></a>
          <a>Amount: <%= item.amount%></a>
          <select name="amount" id="">amount to add:
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input type="hidden" name="name" value="<%= item.name %>">
          <input type="hidden" name="category" value="<%= item.category%>">
          <input type="hidden" name="price" value="<%= item.price%>">
          <input type="hidden" name="color" value="<%= item.color%>">
          <input type="hidden" name="pic" value="<%= item.pic%>">
          <!-- <input type="hidden" name="amount" value="<%= item.amount%>"> -->
          <input type="hidden" name="matter" value="<%= item.matter%>">
          
             <button type="submit" class="addtocart">
              <div id="cart" class="pretext">
                <i class="fas fa-cart-plus"></i> Add to cart
              </div>
              
      
              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> Added</div>
              </div>
              
            </button>
           
         </div></form>
         <% }) %>
      </div>

      <script>
        document.getElementById('logoutButton').addEventListener('click', function() {
            // Send a POST request to the logout route
            fetch('/logout', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server
                if (data.success) {
                    // Successful logout
                    window.location.href = '/'; // Redirect to home page
                } else {
                    // Logout failed
                    console.log(data.message);
                }
            })
            .catch(error => {
                // Handle any errors that occur during the request
                console.log('An error occurred:', error);
            });
        });
    </script>
  

    </section>
       
    <form action="/search" method="post">
      <div id="id01" class="modal">
   
        <div class="modal-content" action="">
          <div class="container">
              <div class="clearfix">
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">X</button>
                 
            <h1>Search</h1>
            <hr>
            
            <input type="text" placeholder="Tap to search" name="name" >
            <br>
            
            <label for="email"><b>Filter</b></label>
            <br>
            <div class="label-search">
            <label>
              <input type="checkbox" checked="checked" name="sofa" style="margin-bottom:15px" > SOFAS
            </label>
            <label>
              <input type="checkbox" checked="checked" name="armchair" style="margin-bottom:15px"> ARMCHAIRS
            </label>
            <label>
              <input type="checkbox" checked="checked" name="table" style="margin-bottom:15px"> TABLES
            </label>
            <label>
              <input type="checkbox" checked="checked" name="chair" style="margin-bottom:15px"> CHAIRS
            </label>
            <label>
              <input type="checkbox" checked="checked" name="bed" style="margin-bottom:15px"> BEDS
            </label>
            <label>
              <input type="checkbox" checked="checked" name="accs" style="margin-bottom:15px"> ACCESSORY
            </label>
          </div>
            <div class="price-input">
              <div class="field">
                <span>Min</span>
                <input type="number" class="input-min" value="0">
              </div>
              <div class="separator">-</div>
              <div class="field">
                <span>Max</span>
                <input type="number" class="input-max" value="10000">
              </div>
            </div>
            <div class="slider">
              <div class="progress"></div>
            </div>
            <div class="range-input">
              <input name="min" type="range" class="range-min" min="0" max="10000" value="0" step="100">
              <input name ="max" type="range" class="range-max" min="0" max="10000" value="10000" step="100">
      
              <button type="submit" class="signupbtn">Search</button>
            </div>
          </div>
         
          </div>
        
        </div>
  
                </div>
              </form>
  
  <script>
    

  </script>
  
  

     <!-- Script -->
     
     <script> let hamMenuIcon = document.getElementById("ham-menu");
        let navBar = document.getElementById("nav-bar");
        let navLinks = navBar.querySelectorAll("li");
        
        hamMenuIcon.addEventListener("click", () => {
          navBar.classList.toggle("active");
          hamMenuIcon.classList.toggle("fa-times");
        });
        navLinks.forEach((navLinks) => {
          navLinks.addEventListener("click", () => {
            navBar.classList.remove("active");
            hamMenuIcon.classList.toggle("fa-times");
          });
        });const button = document.querySelector(".addtocart");
const done = document.querySelector(".done");
console.log(button);
let added = false;
button.addEventListener('click',()=>{
  if(added){
    done.style.transform = "translate(-110%) skew(-40deg)";
    added = false;
  }
  else{
    done.style.transform = "translate(0px)";
    added = true;
  }
    
});

        
        
        </script>
        


        
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  
  </script>
  <script>const rangeInput = document.querySelectorAll(".range-input input"),
    priceInput = document.querySelectorAll(".price-input input"),
    range = document.querySelector(".slider .progress");
  let priceGap = 1000;
  
  priceInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minPrice = parseInt(priceInput[0].value),
        maxPrice = parseInt(priceInput[1].value);
  
      if (maxPrice - minPrice >= priceGap && maxPrice <= rangeInput[1].max) {
        if (e.target.className === "input-min") {
          rangeInput[0].value = minPrice;
          range.style.left = (minPrice / rangeInput[0].max) * 100 + "%";
        } else {
          rangeInput[1].value = maxPrice;
          range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
        }
      }
    });
  });
  
  rangeInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minVal = parseInt(rangeInput[0].value),
        maxVal = parseInt(rangeInput[1].value);
  
      if (maxVal - minVal < priceGap) {
        if (e.target.className === "range-min") {
          rangeInput[0].value = maxVal - priceGap;
        } else {
          rangeInput[1].value = minVal + priceGap;
        }
      } else {
        priceInput[0].value = minVal;
        priceInput[1].value = maxVal;
        range.style.left = (minVal / rangeInput[0].max) * 100 + "%";
        range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
      }
    });
  });
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
  </html>
  
  
  </body>
</html>