<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Cart</title>
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap"
    rel="stylesheet"
  />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="Mybag.css">
</head>
<body>
<header>
  <nav>
    <a href="#home" id="logo"> <img src="logo.png"></a>
    <i class="fas fa-bars" id="ham-menu"></i>
    <ul id="nav-bar">
      <li>
        <a href="/">HOME</a>
      </li>
      <li>
        <a href="aboutus">ABOUT US</a>
      </li>
      <li>
        <a href="#collection">COLLECTION</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="couch">COUCHS</a></li>
            <li><a href="armchairs">ARMCHAIRS</a></li>
            <li><a href="table">TABLES</a></li>
            <li><a href="chairs">CHAIRS</a></li>
            <li><a href="bed">BEDS</a></li>
          </ul>
        </div> 
      </li>
      <li>
        <a href="#decor">DECOR</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="rug">RUGS</a></li>
            <li><a href="mirror">MIRRORS</a></li>
          </ul>
        </div> 
      </li>
      <li>
        <a href="ContactUs.ejs">CONTACT</a>
      </li>
      <li>
        <button class="btn-my-search" onclick="document.getElementById('id01').style.display='flex'" style="width:auto;">
          <i class="fas fa-search"></i>
        </button>
      </li>
      <li>
        <a href="/Mybag" class="btn-Shopping-Cart"><i class="fas fa-shopping-cart"></i></a>
      </li>
      <li>
        <a href="/myAccount" class="btn-my-account">
          <i class="fas fa-user"></i>
        </a>
      </li>
      <% if (alertMessage) { %>    
        <li id="alert"> <%= alertMessage %>  </li>
      <% } %>  
    </ul>
  </nav>
</header>

<div class="bodycart">
  <div class="CartContainer">
    <div class="Header1">
      <h3 class="Heading">Shopping Cart</h3>
      <h5 class="Action"><a href="/delAll">Remove all</a></h5>
    </div>

    <% if (typeof details !== 'undefined' && details) { %>
      <% for (let i = 0; i < details.length; i++) { %>
        <form action="/deleteItem" method="post">
        <% details[i].forEach(function(item) { %>
          <div class="Cart-Items">
            <div class="image-box">
              <img src="<%= item.pic %>" alt="Product Image" style="height: 120px;">
            </div>
            <div class="about">
              <h1 class="title"><%= item.name %></h1>
              <h3 class="subtitle">Material: <%= item.matter %></h3>
            </div>
            <div class="counter">
              <div class="btn" id="nnn" onclick="funcq('<%= item.name %>')">+</div>
              <div class="count"><%= item.amount %></div>
              <div class="btn" id="mmm" onclick="funcm('<%= item.name %>','<%= item.amount %>')">-</div>
            </div>
            <div class="prices">
              <div class="amount"><%= item.price %>₪</div>
              <div class="remove">
                <input type="hidden" name="name" value="<%= item.name %>">
                <input type="hidden" name="amount" value="<%= item.amount %>">
               <u><button type="submit">Delete</button></u>
              </div>
            </div>
          </div>
        <% }) %>
      </form>
      <% } %>
    <% } %>

    <hr> 
    <div class="checkout">
     
      <div class="total">
       
        <div>
         
          <div class="Subtotal">Sub-Total</div>
          <div class="items"><%= num %> items</div>
        </div>
        <div class="total-amount"><%=price%></div>
      </div>
      <button class="button">
        <a href="/checkout">Checkout</a>
      </button>
    </div>
  </div>
</div>

<form action="/search" method="post">
  <div id="id01" class="modal">
    <div class="modal-content">
      <div class="container">
        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">X</button>
          <h1>Search</h1>
          <hr>
          <input type="text" placeholder="Tap to search" name="name">
          <br>
          <label for="email"><b>Filter</b></label>
          <br>
          <div class="label-search">
            <label>
              <input type="checkbox" checked="checked" name="sofa" style="margin-bottom:15px" > SOFAS
            </label>
            <label>
              <input type="checkbox" checked="checked" name="armchair" style="margin-bottom:15px"> ARMCHAIRS
            </label>
            <label>
              <input type="checkbox" checked="checked" name="table" style="margin-bottom:15px"> TABLES
            </label>
            <label>
              <input type="checkbox" checked="checked" name="chair" style="margin-bottom:15px"> CHAIRS
            </label>
            <label>
              <input type="checkbox" checked="checked" name="bed" style="margin-bottom:15px"> BEDS
            </label>
            <label>
              <input type="checkbox" checked="checked" name="mirror" style="margin-bottom:15px"> MIRRORS
            </label>
          </div>
          <div class="price-input">
            <div class="field">
              <span>Min</span>
              <input type="number" class="input-min" value="0">
            </div>
            <div class="separator">-</div>
            <div class="field">
              <span>Max</span>
              <input type="number" class="input-max" value="10000">
            </div>
          </div>
          <div class="slider">
            <div class="progress"></div>
          </div>
          <div class="range-input">
            <input name="min" type="range" class="range-min" min="0" max="10000" value="0" step="100">
            <input name="max" type="range" class="range-max" min="0" max="10000" value="10000" step="100">
            <button type="submit" class="signupbtn">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
    function funcq(name){
    console.log(name)
    fetch('/amount', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({ name:name })
}).then(location.reload())
  }
</script>

<script>
  function funcm(name,amount){
  if(amount>0){
  fetch('/amountM', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({ name:name })
}).then(location.reload())
}
else{
  location.reload()
}
  }
</script>

<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

<script>
  const rangeInput = document.querySelectorAll(".range-input input");
  const priceInput = document.querySelectorAll(".price-input input");
  const range = document.querySelector(".slider .progress");
  let priceGap = 1000;

  priceInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minPrice = parseInt(priceInput[0].value);
      let maxPrice = parseInt(priceInput[1].value);

      if (maxPrice - minPrice >= priceGap && maxPrice <= rangeInput[1].max) {
        if (e.target.className === "input-min") {
          rangeInput[0].value = minPrice;
          range.style.left = (minPrice / rangeInput[0].max) * 100 + "%";
        } else {
          rangeInput[1].value = maxPrice;
          range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
        }
      }
    });
  });

  rangeInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minVal = parseInt(rangeInput[0].value);
      let maxVal = parseInt(rangeInput[1].value);

      if (maxVal - minVal < priceGap) {
        if (e.target.className === "range-min") {
          rangeInput[0].value = maxVal - priceGap;
        } else {
          rangeInput[1].value = minVal + priceGap;
        }
      } else {
        priceInput[0].value = minVal;
        priceInput[1].value = maxVal;
        range.style.left = (minVal / rangeInput[0].max) * 100 + "%";
        range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
      }
    });
  });
</script>

<script>
  let hamMenuIcon = document.getElementById("ham-menu");
  let navBar = document.getElementById("nav-bar");
  let navLinks = navBar.querySelectorAll("li");

  hamMenuIcon.addEventListener("click", () => {
    navBar.classList.toggle("active");
    hamMenuIcon.classList.toggle("fa-times");
  });

  navLinks.forEach((navLinks) => {
    navLinks.addEventListener("click", () => {
      navBar.classList.remove("active");
      hamMenuIcon.classList.toggle("fa-times");
    });
  });
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>
