<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO</h1>
    <div class="cards-items">
      <% if (typeof infor !== 'undefined' && infor) { %>
        <% for(let i =0;i<infor.length;i++){ %>
        <% infor[i].forEach(function(item){ %>
          <div class="detailsItems">
           <a class="category"><%= item.category%></a>
           <a class="pic"><img src="<%= item.pic%>" alt="Product Image"></a>
           <br>  <a>Name: <%= item.name%></a>
           <a>Color: <%= item.color%></a>
           <a>Matterial: <%= item.matter%></a>
            <a>Price: <%= item.price%></a>
           <a>  Amount: <%= item.amount%></a>
             
             
              <button class="addtocart">
               <div class="pretext">
                 <i class="fas fa-cart-plus"></i> Add to cart
               </div>
               
               <div class="pretext done">
                 <div class="posttext"><i class="fas fa-check"></i> Added</div>
               </div>
               
             </button>
            
          </div>
          <% }) %>
       </div>
       <% } %>
      <% } %>
        
        
</body>
</html>